@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light background color for the body */
}

.carousel div {
  min-width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}
